<div class="fixed-background"></div>
<div class="device-height position-relative no-select">
  <div class="background">
    <div class="nav d-flex align-items-center justify-content-around">
      <a [routerLink]="venom"
         routerLinkActive="active">
        <img class="nav-item logo"
             src="/assets/img/logo-sm.png">
      </a>
      <a class="nav-item"
         routerLinkActive="active"
         routerLink="venom">Trailers</a>
      <a class="nav-item"
         routerLink="about"
         routerLinkActive="active">About</a>
      <a class="nav-item"
         routerLink="venom"
         routerLinkActive="active">Gallery</a>
    </div>
    <div class="nav nav-right d-flex align-items-center justify-content-between">
      <div class="share">
        <img class="share-img"
             src="/assets/img/share-icon.png">
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <a href="https://www.instagram.com/venommovie"
           target="_blank"
           class="nav-item">Instagram</a>
        <a href="https://www.facebook.com/VenomMovie"
           target="_blank"
           class="nav-item">Facebook</a>
        <a href="https://www.youtube.com/watch?v=xLCn88bfW1o"
           target="_blank"
           class="nav-item">YouTube</a>
      </div>
      <div class="share">
        <img class="share-img"
             src="/assets/img/share-icon.png">
      </div>
    </div>
    <div class="main-title">
      <div class="title-sm">Tom &nbsp;Hardy</div>
      <div class="title-lg"><b>Venom.</b></div>
    </div>
  </div>
  <div class="date-release d-flex align-items-center justify-content-center">
    <div>
      <div class="date text-center">10</div>
      <div class="date text-center">05</div>
    </div>
    <div class="year">
      <div>2018</div>
      <div class="year-underline"></div>
    </div>
  </div>
  <div class="watch-trailer-block d-flex align-items-center pointer">
    <div class="play">
      <div class="spin position-relative">
        <svg id="spin"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 268.701 268.701">
          <g transform="translate(-165.721 -165.65)">
            <g id="Ellipse_1"
               data-name="Ellipse 1"
               class="cls-1"
               transform="translate(200 200)">
              <circle class="cls-3"
                      cx="100"
                      cy="100"
                      r="100" />
              <circle class="cls-4"
                      cx="100"
                      cy="100"
                      r="95.5" />
            </g>
            <g id="Ellipse_2"
               data-name="Ellipse 2"
               class="cls-2"
               transform="translate(434.421 300) rotate(135)">
              <circle class="cls-3"
                      cx="95"
                      cy="95"
                      r="95" />
              <circle class="cls-4"
                      cx="95"
                      cy="95"
                      r="81.5" />
            </g>
          </g>
        </svg>
        <svg id="play-btn"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 85.883 85.883">
          <path data-name="Path 1"
                class="cls-1"
                d="M-29.7,0,19.214,49.839-40.744,61.5Z"
                transform="translate(7.587 57.073) rotate(-135)" />
        </svg>
      </div>
      <div class="play"></div>
    </div>
    <div>Watch Official Trailer 2</div>
  </div>
</div>